h1{
    font-size: larger;
    height: 15px;
    padding: 15px;
    margin: 10px;
    color: black;
    background-color: pink;
}
h2{
    margin: 10;
    color: black;
    background-color: pink;

}

h3{
    background-color: pink;
}
h4{
    background-color: pink;
}
h5{
    background-color: pink;
    font-size: medium;
}
p{
   height: 60;
    background-color: pink;
    padding-top: 1px;
    font-size: large;
    padding: 15px;
}
button{
    background-color: green;
}
*{
    background-color: black;
}
input{
    background-color: white;
}
img{
    width: 500px
}